@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SCC Homecoming 2018</h1>
    <p class="lead">Welcome the our school homecoming site. We are still under construction be patient</p>
    <p><a href="http://citatscc.org" class="btn btn-primary btn-lg">Our Department site &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            New content coming

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie placerat odio, eget tristique orci malesuada a. Donec viverra elementum ullamcorper. Morbi id risus magna. Vestibulum mattis finibus leo, non imperdiet eros ornare at. Sed tristique, eros dictum aliquet commodo, sem massa euismod sapien, vel cursus nisi dolor nec nisl. Praesent gravida malesuada lacus, sit amet dictum est aliquet a. Sed vulputate, mi ac porta malesuada, purus velit elementum turpis, in sagittis dui est dignissim metus. Sed arcu mi, facilisis ac sapien in, gravida congue nulla. Phasellus accumsan arcu lacus, tempor finibus sapien semper nec. In dictum auctor varius. Nulla facilisi. Integer sed volutpat sapien, ac placerat nulla.

            Proin vitae arcu lacinia, tincidunt metus volutpat, accumsan erat. Quisque quis cursus elit. Aenean vulputate augue eget augue rhoncus venenatis. Aenean consequat pulvinar iaculis. Duis non risus quis augue rutrum imperdiet sit amet fringilla ipsum. Aliquam euismod leo mi, ut vehicula ante mollis ut. Integer euismod urna non vulputate molestie. Sed at gravida massa, nec cursus lectus. Nulla facilisi.


        </p>
          </div>
    
</div>